@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: inherit;
    text-transform: uppercase;
    font-weight: 500;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.content-container {
    position: relative;
    color: rgb(223, 214, 213);
    height: 650px;
    margin: 0em;

}

.control {
    display: flex;


}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #7f030f;
    padding: 1em 1em;
    width: 99%;
    z-index: 100;
    top: 0;


}


.logo img {
    width: 30px;
}

.menu .nav-team {
    padding-left: 1em;
}

.menu {
    text-shadow: 0 0 12px #f60808;
}

.menu {
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.menu-wrappper {
    display: flex;
    justify-content: center;
}

.menu-team {
    display: flex;
    justify-content: center;
}

.option {
    display: flex;
    float: right;
    gap: 20px;
    font-weight: bold;
}

.header-language {
    background: none;
    color: rgb(223, 214, 213);
    border: none;
    background-color: #7f030f;
    text-shadow: 0 0 12px #f60808;


}

.header-language option {
    margin-left: 5px;
    border: none;
}

select:focus {
    outline: none;
}


.header-language:hover {
    cursor: pointer;
    background-color: #7f030f;
}

.header-language a {
    font-size: 16px;
    text-decoration: none;
    color: #eee;
    font-family: 'Roboto', sans-serif;

}

.header-team a {
    padding: 16 0;
}

.header-log {
    display: flex;
    text-shadow: 0 0 12px #f60808;
}

.log-list {
    padding: 0 1em;
}

.log-list+.log-list {
    border-left: solid 5px rgb(223, 214, 213);
}

.nav-team::after,
.log-list::after {
    content: " ";
    display: block;
    height: 3px;
    background-color: rgb(223, 214, 213);
    margin-top: 2px;
    transform: scale(0);
    transition: all 1s;


}


.nav-team:hover::after,
.log-list:hover::after {
    transform: scale(1);
}

body {
    overflow-x: hidden;
}

.hidden {
    display: none;
}

.start-img {
    margin: inherit;
    overflow-x: hidden;
    overflow-y: hidden;
}

#home {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    width: inherit;
    margin-top: 40px;
    align-items: center;
    position: relative;

}

.nav-image {
    width: 400%;
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    overflow: hidden;
    max-height: 665px;



}

.image-items {
    width: 25%;
    transition: 1s;
}

.button-tranition {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);

}

.btn-hello {
    width: 15px;
    height: 15px;
    border: solid rgb(255, 0, 0);
    border-radius: 50%;
    transition: 0.5s;
}

.btn-hello+.btn-hello {
    margin-left: 2em;
}

.btn-hello:hover {
    cursor: pointer;
    background-color: #ffffff;
}

.hello1 {
    margin-left: 0;
}

.hello2 {
    margin-left: -25%;
}

.hello3 {
    margin-left: -50%;
}

.hello4 {
    margin-left: -75%;
}

.title {
    font-size: 60px;
    margin-bottom: 2em;
    margin-top: 2em;
    color: black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-shadow: 0 0 5px #7a7777;

}

#first-team {
    position: relative;
    width: 66.66%;
    margin: 0 auto;
}

.title::after {
    display: block;
    content: "";
    height: 10px;
    width: 272px;
    background-color: red;
    margin: auto;

}

.sub-role {
    display: flex;
    /* width: inherit; */
    justify-content: space-evenly;

}

.team-img {
    width: 200px;
    transition: 2s;
}

.role-btn {
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 20%;
    margin: 1em;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px #7a7777;
}

.role-btn:hover {
    cursor: pointer;
}

.role-name {
    font-weight: bold;
    font-size: 1.25em;
    color: black;
    border-bottom: solid rgb(216, 216, 216) 1px;
    margin: 20px;
}

.role-info {
    position: absolute;
    bottom: 30px;
    left: 10px;
}

.role-number {
    font-size: 40px;
    color: #f60808;
    text-shadow: 0 0 8px #ffffff;
}

.role-names {
    margin-right: 100px;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    color: #f3e5e5;
}

.role-names::after {
    /* content: "";
    display: block;
    height: 3px;
    transform: scale(0);
    transition:  0.9s;
    background-color: #fe0000;
    margin-top: 2px; */
    display: block;
    content: " ";
    height: 3px;
    width: 20px;
    background-color: red;
    transition: 2s;
}

.role-names:hover::after {
    transform: scale(1);
}

.role-btn:hover .team-img {
    transform: scale(1.3);
}

.role-btn:hover .role-names::after {
    width: 50px;
}

.role-name {
    font-size: 40px;
    text-shadow: 0 0 5px #7a7777;
}

.sub-role-mid {
    display: flex;
    justify-content: space-evenly;
}

.sub-role-mid img:last-child {
    margin-bottom: 10px;
}

.team-img[src="./dreamchar/antony compa.jpg"] {
    width: 230px;
    transform: 2s;

}

.team-img[src="./dreamchar/lisandro.jpg"] {
    width: 230px;
    transform: 2s;
}

.team-img[src="./dreamchar/marcus-rashford.jpg"] {
    width: 220px;
    transform: 2s;
}


.sub-role-defend {
    display: flex;
    justify-content: space-evenly;

}

.sub-role-goalkeep {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 40px;
}

.sub-reserve {
    display: flex;
    justify-content: space-evenly;
    padding: 40px;


}

.reserve-img {
    width: 150px;
    /* transition: 2s; */


}

.letter {
    /* border-bottom: 2px solid #f60808; */
    text-align: center;
    font-size: 30px;
    color: #000000;
    text-shadow: 0 0 5px #000;

}

.letter::after {
    display: block;
    content: "";
    height: 3px;
    width: 210px;
    background-color: #f60808;
    margin: auto;
}

.reserve-btn {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: black;
    border-radius: 20%;
    /* margin: 2em; */
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px #7a7777;

    /* display: flex;
    justify-content: space-evenly;
    width: inherit; */


}

.reserve-btn:hover {
    cursor: pointer;
}


.reserve-info {
    position: absolute;

    left: 5px;
    width: 10%;
    bottom: 10%;
    text-align: center;
    color: rgb(233, 217, 217);
    z-index: 1;
    padding-top: 30px;
    margin-left: 5px;
    margin-bottom: 10px;
}

#substitute-player {
    position: relative;
    width: 55%;
    margin: 0 auto;
    background-color: #f7f5f5;
    border-radius: 50px;
    padding: 30px;
    box-shadow: 5px 5px 10px #211f1f;

    /* width: 66,66%; */

    /* width: inherit; */

    /* position: relative; */
}

.reserve-names {
    color: #e8e6e6;
    font-size: 12px;
    /* margin-right: 30px; */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: #cdc0c0;
    /* margin-top:10px; */
}

.reserve-names::after {
    display: block;
    content: "";
    height: 3px;
    width: 70px;
    background-color: #95ebebd8;

}


.reserve-number {
    color: #e50404;
    font-size: 30px;
    text-shadow: 0 0 8px #ffffff;

}

.sub-reserve-1 {
    display: flex;
    justify-content: space-evenly;
    padding: 0 40px 0px 40px;
}

.reserve-btn-1 {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: black;
    border-radius: 20%;
    /* margin: 2em; */
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px #7a7777;
}

.reserve-btn-1:hover {
    cursor: pointer;
}

#coach {
    padding-top: 40px;
    width: 100%;
}

.nav-coach {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 48px;

}

.embrace-coach {
    display: flex;
    padding-top: 3em;
    justify-content: center;
    background-color: #222020;


}

.coach-tenhag {
    display: flex;
    justify-content: center;
    width: 100%;


}

.frontpager {
    font-size: 60px;
    font-weight: bold;
    color: #db5806;
    /* text-shadow: 2px 2px 5px #d98806; */

}

.frontpager::after {
    display: block;
    content: "";
    height: 8px;
    width: 63%;
    background-color: #fff;
}


.name-coach {
    font-size: 40px;
    font-weight: 500;

    color: #fff;
    text-shadow: 0 0 3px #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.say-coach {
    font-size: 20px;
    text-transform: lowercase;
    font-style: italic;
    /* font-family:  Verdana,'Geneva', Tahoma, sans-serif; */
    font-family: 'Courier New';
    font-weight: none;
}

.say-coach::first-letter {
    text-transform: uppercase;
}

.img-coach img {
    width: 102%;
    height: 105%;
    align-self: flex-end;
}

.statistical-coach {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
}

.maches,
.wins,
.cup,
.loses {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 16px;
    text-shadow: 0 0 3px red;
}

.statistical-coach .number-maches,
.number-win,
.number-cup,
.number-lose {
    display: block;
    text-shadow: none;
}

.manager-inf {
    width: 30%;
    padding: 48px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.prof {
    border-bottom: 2px solid #eee;
}

.profile {
    font-size: 30px;
    color: #db5806;
    text-shadow: 0 2px 2px #fff;
}

.profile-content {
    font-size: 16px;
    font-style: italic;
    color: #dfd6d5;
    text-shadow: 0 0 10px #e8e6e6;
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;

}

.information {
    display: flex;
    justify-content: space-around;
    text-transform: capitalize;

}

.img-nati {
    width: 30px;

}

.items-halan {
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: #eee;
    text-shadow: 0 0 5px #cdc0c0;
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;


}

.items-caption {
    color: #db5806;
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
    padding-right: 20px;
    text-shadow:
        -1px -1px 0 #ffffff,
        1px -1px 0 #ffffff,
        -1px 1px 0 #ffffff,
        1px 1px 0 #ffffff;
    text-decoration: underline;

}

/* 
.img-nati {
    position: relative;
    padding-right: 0.5em;
} */

.items-position {
    text-transform: lowercase;
    font-size: 24px;
    text-shadow: 0 0 5px #cdc0c0;
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;

}

.items-position::first-letter {
    text-transform: uppercase;
}



.items-date {
    font-size: 24px;
    text-shadow: 0 0 5px #cdc0c0;
    margin: 16px;
    /* text-transform: cap
    italize;  */
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
}

#menu-mobile {
    display: none;
}

/* mobile */
@media only screen and (max-width:740px) {
    #menu-mobile {
        display: inline-block;
    }

    .menu-team {
        position: fixed;
        top: 70px;
        left: 40px;
        width: 30%;
        background-color: #7f030f;
    }

    .menu {
        display: none;
    }

    /* Hiển thị các mục menu khi có lớp "show-menu" */
    .show-menu .menu {
        display: block;
    }

    /* Định dạng phần tử chứa các mục menu */
    .menu-wrapper {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    /* Định dạng các mục menu */
    .menu a {
        display: block;
        padding: 10px;
        color: #333;
        text-decoration: none;
        font-size: 16px;
    }

    .menu a:hover {
        background-color: #f5f5f5;
    }

    .sub-role,
    .sub-role-defend,
    .sub-role-mid,
    .sub-role-goalkeep,
    .sub-reserve,
    .sub-reserve-1 {
        flex-direction: column;
        align-items: center;
    }

    .reserve-btn {
        margin-bottom: 70px;
    }

    .reserve-btn-1 {
        margin-bottom: 70px;
    }

    .role-name {
        align-items: center;
    }

    .coach-tenhag {
        flex-direction: column;
        width: 70%;
    }

    .name-coach {
        margin-left: 35px;

    }

    .nav-coach {
        width: 100%;
        align-items: center;
        padding-left: 0px;
    }

    .frontpager::after {
        width: 100%;
        margin-bottom: 20px;
    }

    .say-coach {
        padding-top: 20px;
        padding-left: 10px;
    }

    .img-coach img {
        width: 280px;
        height: 200px;
        padding-top: 20px;
    }

    .manager-inf {
        padding: 0px;
    }

    .profile-content {
        width: 200px;
        height: 100%;
    }

    .prof {
        width: 200px;
        display: flex;
        flex-direction: column;
        margin-left: 40px;
    }

    .profile {
        width: 120px;
        padding-left: 30px;
    }

    .information {
        padding-left: 40px;
        flex-direction: column;
        display: flex;
        padding: 0px;

    }

    .sub-info {
        width: 200px;
        padding-left: 50px;

    }

    .items-caption {
        padding-left: 30px;
    }

    .items-position {
        margin-left: 35px;
    }

    .items-halan {
        margin-left: -5px;
    }

    .items-date {
        margin-left: 35px;
    }
}

/* tablet */
@media only screen and(min-width:740px) and(max-width:1024px) {}